.button {
    display: block;

    box-sizing: border-box;
    width: 75%;
    margin: $spacing * 2 auto 0 auto;
    padding: $spacing * 0.5 0;
    border-radius: 1rem;

    background-color: $color2;
    color: $color0;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    @include breakpoint($tablet) {
        width: 50%;
    }
}

.button--callout {
    position: absolute;
    top: 50%;
    right: $spacing * 0.5;
    transform: translateY(-50%);

    height: 32px;
    width: 32px;
    margin-top: 0;
    border: solid 1px $color0;
    border-radius: 50%;

    &:hover {
        background: $color0;
        color: $color2;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.button--form {
    @include breakpoint($tablet) {
        margin-top: $spacing * 3;
        padding: $spacing * 0.75;
    }
}

.button--edit {
    max-width: 200px;
}

.button--delete {
    background-color: $color5;
}