.button {
    display: block;

    box-sizing: border-box;
    width: 50%;
    margin: $spacing * 2 auto 0 auto;
    padding: $spacing * 0.5 0;
    border-radius: 1rem;

    text-align: center;

    background-color: $color2;
    color: $color0;

    font-weight: bold;

    @include breakpoint($tablet) {

    }
}

.button--callout {
    position: absolute;
    top: 50%;
    right: $spacing * 0.5;
    transform: translateY(-50%);

    height: 32px;
    width: 32px;
    margin-top: 0;
    border: solid 1px $color0;
    border-radius: 50%;

    &:hover {
        background: $color0;
        color: $color2;
    }
}

.button--form {
    @include breakpoint($tablet) {
        margin-top: $spacing * 3;
        padding: $spacing * 0.75;
    }
}