.song {
    &__group {
        display: inline-block;

        box-sizing: border-box;
        height: 100%;
        width: 49%;
        vertical-align: middle;
    }

    img {
        width: 50%;
    }
}