.song {
    &__group {
        display: inline-block;
        vertical-align: middle;

        box-sizing: border-box;
        height: 100%;
        width: 49%;
    }

    img {
        width: 50%;
    }
}